@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
:root {
  --color1: #151515;
  --color2: #dfe2e7;
  --terminalboder: #211830;
  --terminal2bg: #433674;
  --terminalcdm: #22eae0;
  --terminalrp1: #e60efe;
  --terminalrp2: #9d0ffd;
  scroll-behavior: smooth;
}

.name {
  padding-top: 5vw;
  padding-left: 5vw;
  font-family: sans-serif;
  text-align: start;
}
body {
  background-color: var(--color1);
  color: var(--color2);
  font-family: "Signika", sans-serif;
  overflow: hidden;
}

h1 {
  font-family: "Signika", sans-serif;
  font-size: 10vw;
  margin: 0;
  padding: 0;
}
p {
  font-size: 2vw;
  margin: 0;
  padding: 0;
}
.list {
  padding-left: 5vw;
  width: 31vw;
}
ul {
  padding: 0;
  margin: 0;
}
.home{
  width: 100vw;
  height: 100vh;
 
}
.projet{
  width: 100vw;
  height: 100vh;
  background-color: var(--color1);
 
  display: flex;
  justify-content: end;
  
}
h4{
margin: 0;
  transition: transform 0.3s ease;
}
.projets{
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 5%; 
  width: 70vw;

}
.columProjet{
  display: flex;
  
  flex-direction: column;
  justify-content: start;
}
.hoverProjet{
  width: 27vw;
  font-size: 3vw;
  height: 100%;
  z-index: 0;
}
.conternaireProjet{
  width: 15vw;
  margin: 5%;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  z-index: 1;
  
}
.conternaireProjet.gros {
  height: 30vw;
}
.conternaireProjet.petit {
  height: 15vw;
}
/* .conternaireProjet:hover{
  box-shadow: 0px 0px 22px 14px var(--color2);
} */
.liProjet {
  position: relative;
  font-size: 3vw;
  
  list-style: none;
  cursor: pointer;
  transition: all 0.75s;

  object-fit: cover;
 
}
.imageProjet:hover .blur{
  opacity: 1;
  backdrop-filter: blur(1px);

}
.blur{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  filter: blur(100px);
  overflow: hidden;
}
.round{
width: 7vw;
height: 7vw;
border: solid 200px rgba(0, 0, 0, 0);
border-radius: 50%;
}
.containt-h2 {
  margin-top: 2.5%;
  position: relative;
}
h2 {
  cursor: pointer;
  font-size: 3vw;
  padding: 0;
  margin: 0;
  z-index: 2;
  transition: all 0.75s 0.25s;
  color: var(--color2);
  text-decoration: none;
 
}
h3 {
  font-size: 5vw;
  padding: 0;
  margin: 0;
}
.containt-h2:hover h2 {
  color: var(--color1);
  z-index: 4;
}
.back {
  cursor: pointer;
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: var(--color2);
  transition: all 0.75s 0.1s;
  z-index: -1;
}
.backProjet{
  cursor: pointer;
position: fixed;
top :3vw;
right: 3vw;
  width: 4vw;
  height: 4vw;
  transform: rotate(-90deg);
  transition: all 0.75s 0.1s;
  z-index: 1;
  
  border-radius: 50%;
  display: none;
  place-items: center;
  border: solid var(--color2) 0.2vw;
  
}
.backProjet h4 {
  width: 80%;
  height: 80%;

}
.containt-h2:hover .back {
  width: 100%;
}
.info {
  position: relative;
  text-decoration: none;
  color: var(--color2);
}
hr {
  margin: 0;
}

.adroit {
  position: fixed;
  width: 49vw;
  height: auto;
  border-radius: 3cap 0 0 0;
  right: 0;
  bottom: 0;
  
 
  color: var(--color2);

}

.propre::before {
  content: "";
  position: absolute;
  bottom: 100;
  right: 100;
  width: 100%;
  height: 100%;
  border: solid 0.3vw var(--color2);
  border-right: none;
  border-bottom: none;
  border-radius: 3em 0 0 0;
  transform-origin: bottom left;
  animation: drawBorder 1.5s linear;
  
  /* box-shadow: inset 0 0 0.5em var(--color2), 0 0 0.5em var(--color2); */
 
}

@keyframes drawBorder {
  0% {
    
    right: 100;
    bottom: 0;
    width: 0;
    height: 0;
  }
  47%{ width: 0;}
  50% {
    
    right: 100;
    
    bottom: 100;
    height: 100%;
  }
  
  100% {
    right: 100;
    width: 100%;
    height: 100%;
  }
}

@keyframes sligne-adroit {
  0% {
    height: 0%;
    border-radius: 0em 0 0 0;
  }

  50% {
    border-radius: 0em 0 0 0;
  }
  90% {
    height: 90%;
    border-radius: 0em 0 0 0;
  }
  100% {
    height: 100%;
    border-radius: 2em 0 0 0;
  }
}
@keyframes ligne-adroit {
  0% {
    transform: scaleX(0);
    width: 0%;
    border-radius: 0em 0 0 0;
  }

  50% {
  }
  100% {
    width: 100%;
    border-radius: 2em 0 0 0;
    transform: scaleX(1);
  }
}

.apropos {
  border-radius: 2em 0 0 0;
  margin-left: 3%;
  margin-top: 3%;
  padding-left: 3%;
  padding-top: 3%;
  background-color: var(--color2);
  color: var(--color1);
  box-shadow: inset 0px 0px 1em var(--color1);
}
.imgprojet {
  height: 50vh;
}
.windowterminal {
  z-index: 99;
  position: absolute;
  margin-top: 1vh;
  margin-left: 1vh;
  width: 98vw;
  height: 98vh;
  border: 4px var(--color2) outset;
  background-color: var(--color1);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-family: "Courier Prime", monospace;
  font-size: 1vw;
}
.terminal {
  height: 96%;
  width: 99%;
  background-color: var(--color1);
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.enter {
  display: flex;
  color: var(--color2);
  width: auto;
  margin-bottom: 10%;
  font-size: 1vw;

  bottom: 0;
}
.penter {
  font-size: 1vw;
}
.liTerminal {
  padding: 0;
  margin: 0;
  line-height: 1.2;
  animation: typing 5.5s steps(500, end);

  overflow: hidden;
  white-space: nowrap;
}
ol {
  list-style: none;
  margin: 0;
}
.social{
  background-color: var(--color2);
  color: #000;
  border-radius: 3em 0 0 0 ;
  margin-left:5% ;
  margin-top:5% ;
}
.socialContainte{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

}
.imgsocial{
  margin-right: 10%;
  width: 150px;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.spancommande {
  color: var(--terminalcdm) !important;
}
.enterterminal {
  background-color: #0000;
  border: none;
}
.barrform {
  animation: visi 1s infinite;
}
@keyframes visi {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 750px) {
  h2 {
    font-size: 10vw;
  }
  .list {
    width: 80vw;
  }
  .adroit{
    position: inherit;
  }
  .propre{
    width: 100%;
    
  }
  .propre::before{
    display: none;
  }
  .apropos{
    border-radius:1em ;
  }
  .imgsocial{
    width: 75px;
  }
  .social{
    border-radius: 1em 1em 1em 1em;
  }
}
